#all{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    background: rgb(61,61,61);
    background: black;
  }
  #nav, #aboutme, #contact, #technologies, #projects{
    margin-bottom: 100px;
    text-align: center;
    align-items: center;
  }
  #aboutme, #technologies, #projects{
    width: 100%;
    height: fit-content;
    margin-bottom: 100px;
  }
  #containerCards1{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
  }
  #containerCards2{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #aboutme{
    margin-top: 200px;
  }

  .footer{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
  }
  .footer p{
    margin-top: 0px;
  }
  .icons{
    margin-top: 9px;
    color: white-space;
    height: 20px;
    width: 20px;
    color: whitesmoke;
    padding-left: 15px;
  }
  .pulse {
  animation: pulse-animation 1.5s infinite ;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

#author{
  font-size: large;
}
.back-to-top {
  font-size: 10px;
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 45px;
  font-size: 12px;
  animation: bounce 2s infinite;
  opacity: 0.5;
}

.back-to-top:hover {
  opacity: 1;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#work{
  font-size: 70px;
  margin-bottom: 30px;
}

#mail{
  margin-top: 0;
  opacity: 0.4;
  color: whitesmoke;
  font-size: 25px;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  width: 90%;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 150px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; 
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li:hover{
  cursor: pointer;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.card{
  border-radius: 20px;
  height:250px;
  flex: 0.2;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fff;
  transition: .3 all ease;
  color:  rgb(207, 207, 207);
  background-color: rgba(25,25,25,255);
  margin-right: 25px;
  transition: all 300ms ease-in-out;
  font-size: larger;
}

.card:hover{
  flex-grow: 0.24;
  background-color: rgba(35,35,35,245);
  transition: all 0.1ms ease-in-out;
}

#projectDescription{
  max-width: 300px;
  margin-left: 30px;
  margin-right: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#projectTitle{
  font-size: large;
  font-style: italic;

}
.card:hover #githubProject{
  display: block;
}

#githubProject{
  z-index: 2;
  display: none;
  border: none;
  background: rgba(42,42,42,255);
  border-radius: 20px;
  height: fit-content;
  width: 120px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10px
}

#githubProject:hover{
  cursor: pointer;
  background: rgba(52,52,52,255);
  transform: scale(1.05);
}

#in{
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  color: whitesmoke;
}

.iconsProjects{
  display: flex;
  color: white-space;
  height: 20px;
  width: 20px;
  color: whitesmoke;
  padding-left: 7px;
  margin-right: 7px;
}

#workProjects{
  font-size: 70px;
  margin-bottom: 300px;
  margin-top: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

.btn{
  position: relative;
  height: 60px;
  width: 200px;
  margin: 0 35px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s;
}

.btn{
  background: linear-gradient(90deg, #703245, #7e5f0a, #701e05, #783348);
  background-size: 200%;
}

.btn:before{
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(10px);
  opacity: 0;
  transition: opacity 0.5s;
}
.btn:before{
  opacity: 1;
  z-index: -1;
}
.btn{
  z-index: 1;
  animation: glow 8s linear infinite;
}
@keyframes glow {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#container {
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.btns {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: none;
  border-radius: 75px;
  background-color: rgba(25,25,25,255);
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  margin-right: 35px;
}

.btns:hover{
  width: 250px;
  transition: all .389s;
  background-color: rgb(30,30,30);
}

@media only screen and (max-width: 1099px) {
  .btns:focus{
    width: 250px;
    transition: all .389s;
    background-color: rgb(30,30,30);
  }

  .btns {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: none;
    border-radius: 75px;
    background-color: rgba(25,25,25,255);
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    margin-right: 35px;
    margin-bottom: 35px;
  }
  #container {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: fit-content;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #technologies{
    height: fit-content;
  }

  .card{
    border-radius: 20px;
    height:230px;
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    transition: .3 all ease;
    color:  rgb(207, 207, 207);
    background-color: rgba(25,25,25,255);
    margin-right: 25px;
    transition: all 300ms ease-in-out;
    font-size: 15px;
  }
  
  .card:hover{
    width: 250px;
    background-color: rgba(35,35,35,245);
    transition: all 0.1ms ease-in-out;
  }

  #projectDescription{
    max-width: 300px;
    position: absolute;
    left: 30px;
    right: 30px;
    margin: auto;
  }
  
  #projectTitle{
    font-size: large;
    font-style: italic;
  
  }

}

@media only screen and (max-width: 800px) {

  .card{
    border-radius: 20px;
    height:230px;
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    transition: .3 all ease;
    color:  rgb(207, 207, 207);
    background-color: rgba(25,25,25,255);
    margin-right: 25px;
    transition: all 300ms ease-in-out;
    font-size: 14px;
  }
  
  .card:hover{
    width: 250px;
    background-color: rgba(35,35,35,245);
    transition: all 0.1ms ease-in-out;
  }

  #projectDescription{
    max-width: 300px;
    position: absolute;
    left: 30px;
    right: 30px;
    margin: auto;
    font-size: 12.5px;
  }
  
  #projectTitle{
    font-size: 13px;
    font-style: italic;
  
  }
  #githubProject{
    z-index: 2;
    display: none;
    border: none;
    background: rgba(42,42,42,255);
    border-radius: 20px;
    height: fit-content;
    width: 100px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px
  }
  
  #githubProject:hover{
    cursor: pointer;
    background: rgba(52,52,52,255);
    transform: scale(1.05);
  }
  #in{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    color: whitesmoke;
  }

  .iconsProjects{
    display: flex;
    color: white-space;
    height: 13px;
    width: 13px;
    color: whitesmoke;
    padding-left: 7px;
    margin-right: 7px;
  }

}

@media only screen and (max-width: 600px) {
  #workProjects{
    font-size: 40px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .btns:focus{
    width: 200px;
    transition: all .389s;
    background-color: rgb(30,30,30);
  }

  .btns {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: none;
    border-radius: 50px;
    background-color: rgba(25,25,25,255);
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    margin-right: 35px;
    margin-bottom: 35px;
  }
  #container {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 20vh;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #nav, #aboutme, #contact, #technologies, #projects{
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
  }
  #aboutme, #technologies, #projects{
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;
  }
  #containerCards{
    display: inline-block;
  }
  #aboutme{
    margin-top: 70px;
  }

  #work{
    font-size: 40px;
    margin-bottom: 80px;
  }

  .card{
    border-radius: 20px;
    height:260px;
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    transition: .3 all ease;
    color:  rgb(207, 207, 207);
    background-color: rgba(25,25,25,255);
    margin-right: 25px;
    transition: all 300ms ease-in-out;
    font-size: 14px;
  }
  
  .card:hover{
    width: 250px;
    background-color: rgba(35,35,35,245);
    transition: all 0.1ms ease-in-out;
  }

  #projectDescription{
    max-width: 300px;
    position: absolute;
    left: 30px;
    right: 30px;
    margin: auto;
    font-size: 9.5px;
  }
  
  #projectTitle{
    font-size: 10px;
    font-style: italic;
  
  }
  #githubProject{
    z-index: 2;
    display: none;
    border: none;
    background: rgba(42,42,42,255);
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px
  }
  
  #githubProject:hover{
    cursor: pointer;
    background: rgba(52,52,52,255);
    transform: scale(1.05);
  }
  #in{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    color: whitesmoke;
  }

  .iconsProjects{
    display: flex;
    color: white-space;
    height: 10px;
    width: 10px;
    color: whitesmoke;
    padding-left: 7px;
    margin-right: 7px;
  }

}
#nodejsb::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
}
#nodejsb::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'Node.js\a + Discord.js';
  white-space: pre;
  font-weight: 900;
  transition: all .5s;
}

#nodejsb:hover::before {
  top: -250px;
}
#nodejsb:hover::after {
  top: 0;
}

#html5b::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
}
#html5b::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'HTML5';
  font-weight: 900;
  transition: all .5s;
}

#html5b:hover::before {
  top: -250px;
}
#html5b:hover::after {
  top: 0;
}
#jsb:hover::before {
  top: -250px;
}
#jsb:hover::after {
  top: 0;
}

#jsb::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
}
#jsb::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'JavaScript';
  font-weight: 900;
  transition: all .5s;
}

#mongodbb:hover::before {
  top: -250px;
}
#mongodbb:hover::after {
  top: 0;
}

#mongodbb::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
}
#mongodbb::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'MongoDB\a+ SQL';
  white-space: pre;
  font-weight: 900;
  transition: all .5s;
}

#vuejsb:hover::before {
  top: -250px;
}
#vuejsb:hover::after {
  top: 0;
}

#vuejsb::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
}
#vuejsb::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'Vue.js';
  font-weight: 900;
  transition: all .5s;
}

#cssb:hover::before {
  top: -250px;
}
#cssb:hover::after {
  top: 0;
}

#cssb::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
}
#cssb::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'CSS';
  font-weight: 900;
  transition: all .5s;
}

#nodejsb:hover #nodejsi{
  display: none;
}
#vuejsb:hover #vuejsi{
  display: none;
}
#jsb:hover #jsi{
  display: none;
}
#cssb:hover #cssi{
  display: none;
}
#html5b:hover #html5i{
  display: none;
}
#mongodbb:hover #mongodbi{
  display: none;
}
.icons2{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 50px;
  height: 50px;
}